<div class="col s12 m6">
  <div class="card large">
    <div class="card-image">
      <img src="<%= article.image %>">
      <span class="card-title"><%= article.title %></span>
    </div>
    <div class="card-content">
      <%= simple_format(article.text)%>
      <div class="card-action">
        <%= link_to '詳細', "/articles/#{article.id}", method: :get %>
        <% if user_signed_in? && current_user.id == article.user_id %>
          <%= link_to '編集', "/articles/#{article.id}/edit", method: :get %>
          <%= link_to '削除', "/articles/#{article.id}", method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>
