<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <div class="row">
      <nav class="cyan darken-2">
        <div class="nav-wrapper">
          <% if user_signed_in? %>
            <a href="/" class="brand-logo">Otalog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to '投稿する', new_article_path, method: :get %></li>
            </ul>
          <% else %>
            <a href="/" class="brand-logo">Otalog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= link_to 'ログイン', new_user_session_path, method: :post %></li>
              <li><%= link_to '会員登録', new_user_registration_path, method: :get %></li>
            </ul>
          <% end %>
        </div>
      </nav>
    </div>

    <%= yield %>

  </body>
</html>
